:root {
  --dark: #1d1d1d;
  --dark-black: #2d2d2d;
  --black: #3d3d3d;
  --white: #fefefe;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;

  margin: 0;
  padding: 0;

  background-color: var(--dark-black);
  color: var(--white);
}

.html-preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.html-preloader .html-preloader-item {
  width: 142px;
  height: 40px;
  filter: contrast(20);
}

.html-preloader .html-preloader-item .html-dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(1px);
  background: var(--white);
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}

.html-preloader .html-preloader-item .html-dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}

.html-preloader .html-preloader-item .html-dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(1px);
  background: var(--white);
  border-radius: 50%;
}

@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
